*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}

.fa{
    color: rgb(91, 183, 216);
    font-size: 1.5rem !important;
    padding: 0rem 2rem;
}

main{
    min-height: 100vh;
    background: linear-gradient(
        to right top,
         #65dfc9,
         #6cdbeb
    );
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass{
    background: white;
    min-height: 80vh;
    width: 70%;
    background: linear-gradient(
        to right bottom,
        rgba(255,255,255,0.7),
        rgba(255,255,255,0.3)
    );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(0.2rem);
    display: flex;
}
.circle1, 
.circle2{
    background: white;
    background: linear-gradient(
        to right bottom,
        rgba(255,255,255,0.5),
        rgba(29, 18, 18, 0.2)
    );
    height: 15rem;
    width: 15rem;
    position: absolute;
    border-radius: 50%;
}

.circle1{
    top: 5%;
    right: 15%;
}
.circle2{
    bottom: 5%;
    left: 10%;
}

.dashboard{
    flex: 1;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(
        to right bottom,
        rgba(201, 231, 229, 0.7),
        rgba(249, 252, 252, 0.3)
    );
    border-radius: 2rem;
}

.link{
    display: flex;
    margin: 1rem 0rem;
    padding: 1rem 1rem;
    align-items: center;
    box-shadow: 6px 6px 20px rgba(122,122,122,0.2);
    font-weight: bold;
}
.games{
    flex: 2;
}

.skil{
    flex: 1;
    margin-right: 2rem;
}

h1,h2,h3,h4,h5,p,a{
    color: rgb(65, 81, 87);
    opacity: 0.7;
}

.status{
    margin-bottom: 1rem;
}
.games{
    display: flex;
    flex-direction: column;
    margin: 5rem;
}
.cards{
    display: flex;
    flex-direction: column;
}
.card{
    background: linear-gradient(
        to left top,
        rgba(255,255,255,0.8),
        rgba(255,255,255,0.5)
    );
    border-radius: 1rem;
    margin: 1rem 0 0 0;
    padding: 0.5rem 0 0.5rem 0.5rem;
    box-shadow: 6px 6px 20px rgba(122,122,122,0.221);
}

@media only screen and (max-width: 800px) {
    .glass{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@media only screen and (max-width: 1200px) {
    .glass{
        width: 100%;
        min-height: 9rem;
    }
    .dashboard{
        justify-content: start;
    }
    .card-info h4{
        font-size: 80%;
    }
}


.link::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}
.link:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.link::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background-color: black !important;
  background: hsl(200 100% 80%);
  z-index: -1;
  transition: transform .4s ease;
}
.link {
  position: relative;
  font-size: 1rem;
}
.link:hover a{
    color: yellow;
}
.link:hover p{
    color:yellow;
}
.link:hover i{
    color: yellow;
}





.background {
  background: linear-gradient(to right, #c0c0aa, #1cefff);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding:0;
  margin:0px;
  position: absolute;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
